#email, #password {
width: 260px;
}

.forget {
display: block;
}

.col {
padding-left: 10px;
}


body {
         padding-top: 40px;
         padding-bottom: 40px;
	 
	 background-color:white;

         }
         .modal-header {
         border-top-left-radius: -1px;
         border-top-right-radius: -1px;
         }
         .modal-header h4 {
         margin:0;
         }
         .modal-header img {	
         float: left; 
         margin-right: 20px;
         }
         .form-signin {
        max-width: 310px;
         margin: 0 auto;
         background: none;
         margin-top:45px;
         }
         p.link a {
         font-size: 11px;
         }
         .form-signin .inner {
         padding: 20px;
         border-bottom-right-radius: 3px;
         border-bottom-left-radius: 3px;
         border-left: 1px solid #ddd;
         border-right: 1px solid #ddd;
         border-bottom: 1px solid #ddd;
         }
         .form-signin .checkbox {
         font-weight: normal;
         }
         .form-signin .form-control {
         margin-bottom: 17px !important;
         }
         .form-signin .form-control:focus {
         z-index: 2;
         }
         .modal-header a:link,
         .modal-header a:visited,
         .modal-header a:hover,
         .modal-header a:active {
         text-decoration: none;
         color: white;
         }
         body{
         /*background: rgba(0, 0, 0, 0) url("http://invoice.grandcoeinvoicing.com/assets/img/road-blur.jpg") no-repeat fixed center center / cover !important;
         */
         background:#ffffff !important;
         }
         .btn-default{
         background-color: #353d47!important;
         border-color: #353d47!important;
         color: #fff!important;
         }
         .btn-primary{
         background-color: #353d47 !important;
         border-color: #353d47!important;
         color: #fff!important;
         }
         .btn-info{
         background-color: #fabe28!important;
         border-color: #fabe28!important;
         color: #fff!important;
         }
         .btn-success,.btn-success:hover{
         background-color: #22a7f0 !important;
         border-color: #22a7f0!important;
         color: #fff!important;
         }
         .modal-header {
         background: #ffffff !important;
         padding:10px 0px;
         }
         .form-signin .inner {
         background-color: #fff !important;
         box-shadow: 0px 0px 6px #ddd;
         }
         .row > [class*="col-"] {
         margin-bottom: -3px!important; 
         }
