.navbar-header {
	margin: 5px;
}

#btn {
	float: right;
	margin: 10px;
}

.head {
	text-align: center;
	font-family: Open Sans, arial;
	color: #555;
	font-size: 38px;
	font-weight: 300;
	margin-top: 27px;
	margin-bottom: 50px;
}

.sub_head {
	text-align: center;
	font-family: Open Sans, arial;
	color: #737373;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
}

.para {
	text-align: center;
	font-family: Open Sans, arial;
	color: #737373;
	font-size: 13px;
	margin-bottom: 40px;
} 

div .all_icon {	
   	width: 20px;
	height: auto;
	margin: 3px;
	border-radius: 7px;
}

div .device_signup {
	display: block;
	margin: auto;
	height: 170px;
	padding: 10px;
}

.footer {
	display: left;
	padding: 20px;
	margin: 5px;
}

.footer a {
	padding: 5px;
	color: black;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}





