/* Edit the tooltip */

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 60px;
    background-color: #00c0ef;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

/* Delete the tooltip */

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 60px;
    background-color: #00c0ef;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

/* Device the tooltip */

.tooltip3 {
    position: relative;
    display: inline-block;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 50px;
    background-color: #00c0ef;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}

/* Calories the tooltip */

.tooltip4 {
    position: relative;
    display: inline-block;
}

.tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 50px;
    background-color: #00c0ef;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}

.tooltip4:hover .tooltiptext4 {
    visibility: visible;
}

/* Step the tooltip */

.tooltip5 {
    position: relative;
    display: inline-block;
}

.tooltip5 .tooltiptext5 {
    visibility: hidden;
    width: 50px;
    background-color: #00c0ef;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
}

.tooltip5:hover .tooltiptext5 {
    visibility: visible;
}



